# IntelliJ IDEA - ignore entire .idea directory
.idea/

# IntelliJ build output
out/
*.iws

# Logs and caches
*.log
.idea/sonarlint/

# User-specific files
*.iml
.idea/misc.xml
.idea/compiler.xml

package-lock.json
yarn.lock
node_modules/*
coverage/*
/packages/shared/tsconfig.tsbuildinfo
